<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PsychologicalHelp.BeatBurnoutActivity"
            android:exported="false" />
        <activity
            android:name=".PsychologicalHelp.NoMotivationActivity"
            android:exported="false" />
        <activity
            android:name=".PsychologicalHelp.StudyQuestionsActivity"
            android:exported="false" />
        <activity
            android:name=".PsychologicalHelp.ChatBotsAndAppsActivity"
            android:exported="false" />
        <activity
            android:name=".PsychologicalHelp.BooksActivity"
            android:exported="false" />
        <activity
            android:name=".PsychologicalHelp.BeatStressActivity"
            android:exported="false" />
        <activity
            android:name=".PsychologicalHelp.PsychologicalMenuActivity"
            android:exported="false" />
        <activity
            android:name=".Info.PrinciplesActivity"
            android:exported="false" />
        <activity
            android:name=".Info.FAQActivity"
            android:exported="false" />
        <activity
            android:name=".Info.LifehacksActivity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".Task.screens.main.TaskMainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Task.screens.details.TaskDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".СontrolTask.screens.details.ControlTaskDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".СontrolTask.screens.main.ControlTaskMainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ExamTask.screens.main.ExamTaskMainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ExamTask.screens.details.ExamTaskDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CourseTask.screens.main.CourseTaskMainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CourseTask.screens.details.CourseTaskDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DebtTask.screens.main.DebtTaskMainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DebtTask.screens.details.DebtTaskDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>